*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Cinzel", serif;
}

:root {
    --bg-color: #0f0e0e;
    --second-bg-color: #1a1919;
    --text-color: #ffffffec;
    --main-color: #d8e494;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid var(--bg-color);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon
{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/* root and other base features */

.home
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.home-content {
    position: absolute;
    top: 50%;
    /* left: 40%; */
    /* Other styles as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* .home-content h3 {
    font-size: 2.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
} */

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    text-align: center;
    font-size: 2rem;
}

.home-img {
    background-image: url('images/black_hole.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5; /* Adjust opacity for fading effect */
    width: 100%; /* Make sure it covers the entire section */
    height: 75vh; /* Set a suitable height */
    position: relative;
    z-index: -1; /* Set a negative z-index to keep it behind the text */
}

.bg-image {
    background-image: url('images/chess_tt3.jpg'); /* Ensure this path is correct */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.45; /* Adjust opacity for fading effect */
    width: 100%;
    height: 100%; /* Set the height to 100% of its container */
    position: absolute; /* Use absolute positioning */
    top: 0; /* Align the image to the top */
    left: 0; /* Align the image to the left */
    z-index: -1; /* Set a negative z-index to keep it behind the text */
}

.home-sci a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
}

.home-sci a:hover{
    background-color: var(--main-color);
    color: var(----bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    justify-content: center;
    display:inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 2rem;
    color: var(--bg-color);
    letter-spacing: .2rem;
    font-weight: 650;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

/* end of home  */

section.about {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.about {
    display:flex;
    justify-content: space-between;
    align-items:center;
    gap: 2rem;
    background: var(--bg-color);
}

.heading {
    text-align: center;
    font: 5rem;
}

.about-img {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5); /* Faded black border effect */
    /* Other image styles as needed */
    margin-right: 5rem;
    animation: floating 3s ease-in-out infinite; /* Adjust duration and easing as needed */
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center-align */
    align-items: center; /* Horizontally center-align */
    /* Other styles as needed */
}


.about-content h2 {
    text-align: center;
    font-size: 4.25rem;
}
.about-content h3 {
    font-size: 2.3rem;
}
.about-content p {
    font-size: 2.0rem;
    margin: 2rem 0 3rem;
    font-family: "Noto Serif Georgian", serif;
}

/* end of about section  */

.bio {
    display:flex;
    justify-content: space-between;
    align-items:center;
    gap: 2rem;
    background: var(--bg-color);
}

.heading {
    text-align: center;
    font: 5rem;
}

.bio-img {
    border: 5px solid black; /* Add a solid black border */
    margin-right: 5rem;
}

.bio-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center-align */
    align-items: center; /* Horizontally center-align */
    /* Other styles as needed */
}

.bio-content h2 {
    text-align: center;
    font-size: 5.0rem;
}
.bio-content h3 {
    font-size: 2.6rem;
}
.bio-content p {
    font-size: 2.0rem;
    margin: 2rem 0 3rem;
    font-family: "Noto Serif Georgian", serif;
}

.movies {
    position: relative;
    min-height: 100vh;
    /* background-image: url('images/movie_poster1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}

.movies-content h2 {
    text-align: center;
    height: 100px;
    font-size: 5.0rem;
    position: relative; /* Add this line to ensure z-index works */
    z-index: 1; /* Bring the h2 element to the front */
}

.movies-content h3 {
    font-size: 4.0rem;
    animation: floating 3s ease-in-out infinite; /* Adjust duration and easing as needed */
}

.movies-content p {
    text-align: center;
    font-size: 1.75rem;
    margin: 2rem 0 3rem;
    position: relative; /* Add this line to ensure z-index works */
    z-index: 1; /* Bring the h2 element to the front */
}

.movies.heading {
    text-align: center;
    font: 5rem;
}
/* end of movies section  */

.news
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.news-content {
    position: absolute;
    top: 20%;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.news.heading {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
    color: white; /* Ensure sufficient contrast for the text */
}

.news-content h1 {
    text-align: center;
    height: 200px;
    font-size: 6.0rem;
    position: relative; /* Add this line to ensure z-index works */
    z-index: 1; /* Bring the element to the front */
}

.news-content p {
    text-align: center;
    height: 200px;
    font-size: 2.0rem;
    font-family: "Noto Serif Georgian", serif;
    position: relative; /* Add this line to ensure z-index works */
    z-index: 1; /* Bring the element to the front */
}

/* .news-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
} */

/* .news-feed {
    display: flex;
    color: var(--third-bg-color);
    flex-direction: column;
    max-height: 300px; /* Adjust the height as needed */
    /* overflow-y: auto;  */
    /* Add scrollbars if content exceeds the height */
/* } */

/* .news-post {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.news-post h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.news-post p {
    font-size: 1.4rem;
    color: #555555;
}

.news-post .date {
    font-size: 1.2rem;
    color: #888888;
} */

/* Style the form container */
/* #news-form {
    margin-top: 20px;
    background-color: var(--third-bg-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

/* Style the input fields */
/* #news-title,
#news-content,
#news-date {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
} */

/* Style the submit button */
/* #news-form button[type="submit"] {
    background-color: var(--main-color);
    color: var(--third-bg-color);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#news-form button[type="submit"]:hover {
    background-color: #0056b3;
} */

/* Style the date input */
/* #news-date {
    appearance: none;
    -webkit-appearance: none;
    padding-right: 30px; /* Add space for date picker icon */
/* } */

/* Customize the date picker icon */
/* #news-date::-webkit-calendar-picker-indicator {
    background: transparent;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    opacity: 0.7;
} */

/* Adjust font size for date input */
/* #news-date::-webkit-inner-spin-button,
#news-date::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
} */

/* Style the date format placeholder */
/* #news-date::placeholder {
    color: #aaa;
} */

/* Responsive adjustments */
/* @media screen and (max-width: 600px) {
    #news-title,
    #news-content,
    #news-date {
        font-size: 12px;
    }
} */

/* news section done  */

/* Center-align the content within the .download container */
.contact {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    flex-direction: column;
    text-align: center;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.contact-img {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5); /* Faded black border effect */
    max-width: 50%; /* Adjusted width for side-by-side layout */
    height: auto;
    margin-right: 5rem;
    animation: floating 3s ease-in-out infinite; /* Adjust duration and easing as needed */
}

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-size-adjust: none;
}

.contact-content h2 {
    text-align: center;
    font-size: 5.0rem;
    /* height: 75vb; */
    margin-bottom: 1rem; /* Add space below the heading */
}

.contact-content p {
    font-size: 2.3rem;
    margin: 1rem 0; /* Adjust vertical spacing between paragraphs */
    text-align: center; /* Center-align the paragraphs */
}
/* contact section done  */

/* Define the floating animation */
@keyframes floating {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Adjust the floating distance */
    }
}

/* Style for the copyright footer */
footer.copyright {
    text-align: left;
    padding: 1rem;
    background-color: var(--second-bg-color);
    color: white;
    font-size: 1.5rem;
}

.footerIconTop {
    position: fixed;
    bottom: 0px;
    right: 20px;
}

/* Adjust the size of the up arrow icon */
.footerIconTop a i {
    font-size: 30px; /* Adjust the size as needed */
    color:#dced78;
}

/* ADJUSTMENTS FOR SMALLER SCREENS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid black;
        box-shadow: 0 .5rem 1 rem black;
        display: none;
    }
    .navbar.active {
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home, .about, .bio, .movies, .news, .contact {
        flex-direction: column;
    }

    .home-content h3, .about-content h3, .bio-content h3, .movies-content h3, .news-content h3, .contact-content p {
        font-size: 2.6rem;
    }
    .home-content h1, .about-content h1, .bio-content h1, .movies-content h1, .news-content h1, .contact-content h2 {
        font-size: 5rem;
    }
    .home-img img, .about-img img{
        max-width: 100%; /* Full width for smaller screens */
        margin-top: 4rem;
    }

    .contact {
        min-height: auto; /* Remove the minimum height constraint */
    }

    .contact-container {
        flex-direction: column; /* Adjust for smaller screens */
    }
    .contact-img {
        max-width: 60%; /* Full width for smaller screens */
        margin-right: 0; /* Remove margin */
    }

    /* Center-align the contact content */
    .contact-content {
        text-align: center;
        display: block;
    }

    /* Reduce font sizes for better readability */
    .contact-content h2 {
        font-size: 3.5rem; /* Adjust as needed */
        word-wrap: break-word;
        overflow-wrap: break-word;
        margin: 1rem 0;
    }
    .contact-content p {
        font-size: 1.6rem; /* Adjust as needed */
        margin: 1rem 0;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .footer {
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 365px) {
    .home-img img, .about-img img, .bio-img img {
        width: 90vw;
    }
}

  